.body-content {
    padding-top: 50px
}

.checkbox {
    padding: 0;
    margin: 0;
}

.dropdown-menu {
    overflow: auto !important;
}

.form-group div {
    display: inline-block;
    margin-right: 10px
}

body {
    background-color: rgba(242,242,242) !important;
}

svg {
    background-color: rgba(173,173,173) !important;
}
