<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wordcount</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='wordcloud.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
</head>

<body data-ng-app="myApp" data-ng-controller="TestCtrl" data-ng-init="lists={{lists}}">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Miner for student feedback</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Upload</a></li>
                    <li class="active"><a href="/wordcloud">Wordcloud</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <input type="checkbox" data-ng-model="compare">Compare?
        </div>
        <div class="row">
            <div class="col-xs-6">
                <form role="form" data-ng-submit="getResults()">
                    <div class="form-group">
                        <span>Select unit number</span>
                        <div data-ng-dropdown-multiselect="" extra-settings="unitSetting" options="unitnumber" selected-model="unitnumberSelected" checkboxes="true"></div><br>
                        <span>Select topic</span>
                        <div data-ng-dropdown-multiselect="" extra-settings="topicSetting" options="topic" selected-model="topicSelected" checkboxes="true"></div><br>
                        {% raw %}
                        <button type="submit" class="btn btn-primary" data-ng-disabled="loading">{{ submitButtonText }}</button>
                        <p>{{message}}</p>
                        {% endraw %}
                    </div>

                </form>
                <p>Wordcloud visulization</p>
                <tang-cloud words="words" on-click="test(word)" width="500" height="500"></tang-cloud>
            </div>

            <div class="col-xs-6" ng-show="compare">
                <form role="form" ng-submit="getResults1()">
                    <div class="form-group">
                        <span>Select unit number</span>
                        <div data-ng-dropdown-multiselect="" extra-settings="unitSetting" options="unitnumber1" selected-model="unitnumber1Selected" checkboxes="true"></div><br>
                        <span>Select topic</span>
                        <div data-ng-dropdown-multiselect="" extra-settings="topicSetting" options="topic1" selected-model="topic1Selected" checkboxes="true"></div><br>
                        {% raw %}
                        <button type="submit" class="btn btn-primary" data-ng-disabled="loading">{{ submitButtonText }}</button>
                        <p>{{message1}}</p>
                        {% endraw %}
                    </div>

                </form>
                <p>Wordcloud visulization</p>
                <tang-cloud words="words1" on-click="test(word)" width="500" height="500"></tang-cloud>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="{{ url_for('static', filename='angularjs-dropdown-multiselect.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tangCloud.js') }}"></script>
    <script src="{{ url_for('static', filename='testController.js') }}"></script>
</body>

</html>
